/* Basic style */
* {
  box-sizing: border-box;
}

body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}

h1,
h2,
p,
a {
  color: var(--primary)
}

li {
  font-size: 2em;
  display: inline-block;

  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}


/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties en stijlen */
@keyframes scale {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(2, 2);
  }

  100% {
    transform: scale(1, 1);
  }
}

.scale {
  animation-name: scale;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

/* translate link */

@keyframes translateLink {
  0% {
    translate: 0 0;
  }

  50% {
    translate: 0 -1em;
  }

  100% {
    translate: 0 0;
  }
}

.translate {
  animation-name: translateLink;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

/* shake */

@keyframes shake {
  0% {
    translate: 1em 0;
  }

  25% {
    translate: -1em 0
  }

  50% {
    translate: 1em 0;
  }

  75% {
    translate: -1em 0
  }

  100% {
    translate: 0 0;
  }
}

.shake {
  animation-name: shake;
  animation-iteration-count: 2;
  animation-duration: .5s;
}

/* kleuren animatie focus */

.colors {
  color: var(--highlight-primary);
  background-color: var(--highlight-secondary);
  transition: .5s ease-in-out;
}

/* mouse out rotate */

@keyframes mouseout {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

.mouseOutTurn {
  animation-name: mouseout;
  animation-iteration-count: 1;
  animation-duration: .5s;
}

/* flip en terug */
@keyframes flip {
  0% {
    transform: rotateX(0);
  }

  50% {
    transform: rotateX(2turn);
  }

  100% {
    transform: rotateX(0);
  }
}

.flip {
  animation-name: flip;
  animation-iteration-count: 2;
  animation-duration: .5s;
}

.pilf {
  animation-name: flip;
  animation-iteration-count: 2;
  animation-direction: reverse;
  animation-duration: .5s;
}

/* keyup */

.keyup {
  color: var(--highlight-secondary);
}

/* keydown balloon */
@keyframes balloon {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(4, 4);
  }
}

@keyframes deflate {

  0% {
    transform: scale(4, 4);

  }

  100% {
    transform: scale(1, 1);
  }
}

.balloon {
  animation-name: balloon;
  animation-iteration-count: 1;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.deflate {
  animation-name: deflate;
  animation-iteration-count: 1;
  animation-duration: .5s;
}

/* scroll font */

a[href="#events"] {
  --font: 1em;

  font-size: var(--font);
}